<html>
<head>
    <style>
    body{
        background: url(static/about.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;;
    }
</style>
</head>
<body background="{{url_for('static',filename='about.png')}}" bgproperties="fixed">
<CENTER>
<font face="Segoe Script" size=144 color=ffffffff><b><U>ABOUT</U></b></font>
</CENTER>
<p>
<font face="Ink Free" size=40 color=#ffffff> NoteScratch is a free online Diary where you can record your most important events and memories in life.It's BETTER than a diary, NoteScratch is digital so you need a password for viewing your diary,so no one else can sneak peek your diary.
 </font>
</p>
<p>
<font face="Segoe Script" size=144 color=#ffffff><U>Developers</U></font>
</p>
<p>
<font face="Ink Free" size=40 color=#ffffff><B>1)Ashish Joseph<font face="Segoe Print" size=40 color=#ffffff>(Web Developement ,Backend-Dev and Programmer)
</B></font>
</p>
<p>
<font face="Ink Free" size=40 color=#ffffff><B>2)Belfin Baby<font face="Segoe Print" size=40 color=#ffffff>(Graphic Designing ,Frontend-Dev,Website-Styling and Editing)</B></font>
</p>
<p>
<font face="Ink Free" size=40 color=#ffffff><B>3)Michael Johnson<font face="Segoe Print" size=40 color=#ffffff>(Full-Stack Developer,Github Contributor)</B></font>
</p>
<p>
<font face="Ink Free" size=40 color=#ffffff><B>4)Jimmy Fernandes<font face="Segoe Print" size=40 color=#ffffff>(Stackoverflow,Educator MIT, Contributor)</B></font>
</p>
</body>
</html>